.fa-green-icon {
  border: 2px solid rgb(0, 180, 48);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.fa-green-icon svg {
  color: rgb(149, 231, 171);
  background-color: rgb(0, 180, 48);
  border-radius: 5px;
}
