.fa-pink-icon {
  border: 2px solid rgb(227, 99, 231);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.fa-pink-icon svg {
  color: rgb(236, 187, 238);
  background-color: rgb(227, 99, 231);
  border-radius: 5px;
}
