#home-page {
  min-height: 100vh;
  box-sizing: border-box;
  border: 2px solid orange
}

.billboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  border: 2px solid red;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-box img {
  width: 80%;
}
