@import "./PresetStyleVariables.scss";

#horizontal-line.blue {
  width: 80%;
  border-top: 2px solid $blue;
}

#horizontal-line.green {
  width: 80%;
  border-top: 2px solid $green;
}

#horizontal-line.pink {
  width: 80%;
  border-top: 2px solid $pink;
}
