$dark-pink: #e363e7;
$light-pink: #ecbbee;

$dark-green: #00b430;
$light-green: #95e7ab;

$dark-blue: #63bde7;
$light-blue: #c2ecff;

$input-border-color: #ced4da;
$input-focus-border-color: $dark-blue
