#website {
  width: 90%;
  border-radius: 10px;
  background-color: #fff;

  .first-box {
    width: 100%;
    .first-box-left {
      width: 50%;

      h3 {
        animation-name: moveTextRightToLeft;
        animation-duration: 1s;
        animation-timing-function: linear;
      }
    }

    .first-box-right {
      width: 50%;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .first-box {
      .first-box-left {
        width: 100%;
      }

      .first-box-right {
        width: 100%;
      }
    }
  }

  @keyframes moveTextRightToLeft {
    0% {
      transform: translateX(200px);
      opacity: 0%;
    }
    100% {
      transform: translateX(0px);
      opacity: 100%;
    }
  }
}
